@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap');
*{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;

}

.background-not {
  background-image: url("./assets/Background/HH.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.background {
    background-image: url("./assets/Background/FONDO2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
h1 {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}
.fav{
  height: 100vh;
}
